*{
    padding: 0;
    margin: 0;
    overflow-x:hidden ;
}
.products{
    width: 96%;
    max-width: 1463px;
    margin: 3rem auto;
}
.sectionContainer{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
}
.productSection{
    width: 83%;
    background: rgba(241, 210, 182, 0.23);
    max-width: 1165px;
    /* height: 1576px; */
    margin-left: 15px;
}
/* .productSection::-webkit-scrollbar {
    display: none;
  }
  
  
  .productSection {
    -ms-overflow-style: none;   
    scrollbar-width: none;  
  } */ 
.productContainer{
    width: 98%;
    margin: 40px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.productUpContainer{
    display: flex;
    justify-content: space-between;
    width: 97%;
}.productLabel{
    font-weight: 500;
font-size: 15px;
line-height: 30px;
width :150px;
height :22px;
overflow: hidden;
}
.productLabelContainer{
  display: flex;
  align-items: flex-end;
}
.sort{
    border: 0.5px solid #1B082B;
box-sizing: border-box;
border-radius: 10px;
width: 186px;
height: 35px;
cursor: pointer;
}
.sortContainer{
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 6px auto;
    height: 20px;
    align-items: center;
}
.sortContainer img{
    width :15.98px;
height :13.21px;
}
.sortTitle{
    font-weight: 275;
font-size: 13px;
line-height: 20px;
}
.productDownContainer{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    justify-content: center;
}
.hrContainer{
    height: 31px;
    width: 96.7%;
}
.hrBorder{
    border: 0.2px solid #C4C4C4;
    width: 100%;
    position: relative;
    top: 23px;
}
.downContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.similarProductBox{
    /* padding-top: 6%; */
    height: 345px;
    display: flex;
    flex-direction: column;
    max-width: 198px;
    width: 31%;
    justify-content: space-between;
    cursor: pointer;
    flex-shrink: 0;
    overflow: hidden;
    margin: 25px 1.1%;
}
.downContainer::-webkit-scrollbar{
    display: none;
}
.productImg{
   overflow: hidden;
    background: #C4C4C4;
    width :100%;
    height: 303.57px;
}
.productImg img{
    height: 100%;
    width: 100%;
    display: none;
    object-fit: cover;
    object-position: top;
}
.namePriceBox{
    display: flex;
    flex-direction: column;
    width: 100%;
      
}
.nameHeartBox{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2px 0;
    height: 45px;
}
 
 
.productTitle{
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    max-width: 155px;
    height: 40px;
    width: 86%;
}
.heart{
    /* border: 2px solid #000000; */
     width: 24px;
    height: 21.83px;
    /* background: url('/icons/akar-icons_heart\ \(1\).svg'); */
} 
 
.priceRatingBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22px;
}
.productCost{
    font-weight: 500;
font-size: 13px;
line-height: 20px;
/* identical to box height */
width: 69px;
height: 20px;
color: #000000;
}
.productRating{
    display: flex;
    align-items: center;
}
.number{
    font-weight: 300;
font-size: 12px;
line-height: 18px;
width: 18px;
height: 18px;
}
.starIcon{
    display: flex;
}
.starIcon img{
    /* background: #000000; */
    width: 13px;
    height: 11.25px;
}