@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;1,300;1,400&family=Lobster&family=Monda&family=Nunito:ital,wght@0,300;0,500;0,600;1,300;1,400&family=Open+Sans:ital,wght@0,400;0,600;1,300&family=Poppins:wght@300;400;600;700&family=Roboto&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    width: 100%;
}
.conatiner{
    width: 100%;
}
#jjnavigation {
    background-color: rgba(0, 0, 0, 0.63);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#hiddensearch {
    display: none;
}

.Bcolor {
    border-bottom: #000;
}


@media screen and (max-width:800px) {
    .conatiner{
        width: 100%;
    }
    #hiddensearch {
        
        display: flex;

    }

    .searchBox,
    .big,
    #jjsearch {
        display: none;
    }
}

@media screen and (min-width:825px) {
    #hiddensearch {
        display: none;
    }

    .big {
        visibility: visible;
    }
}

.searchBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


#jjinput {

    border-radius: 30rem;

}

#jjsearch {
    position: relative;
    left: -40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
/* END navbar */
.product_one{
    width: 100%;
}
.slider {
    height: 80vh;
    display: flex;
    margin-top: 35px;
}

.product img {
    height: 16.80vh;
    cursor: pointer;
    opacity: 0.6;
    margin-bottom: 5.5px;
    display: flex;
}

.product img:hover {
    opacity: 1;
}


.preview img {
    height: 87vh;
    width: 100%;
    margin-left: 3px;
}

.content {
    font-family: 'Poppins';
    font-style: normal;
    margin-top: 30px;
}


.text-black {
    position: absolute;
    font-size: 20px;
    line-height: 31px;
    font-weight: 600;
}

.price {
    color: #fe980f;
    font-size: 26px;
    font-weight: bold;
    padding-top: 25px;
}

.current_tax {
    font-weight: 400;
    font-size: 10.2857px;
    line-height: 15px;
    color: #F1D2B6;
}


.current_tax>span {
    color: #000000;
    float: right;
    margin-right: 50px;
}

.disc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #A65E46;
}

.option {
    font-weight: 400;
    font-size: 13.3714px;
    line-height: 20px;
    color: #000000;

}

.option>span.chart {
    float: right;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13.3714px;
    line-height: 20px;
    color: #A65E46;
    margin-right: 50px;
}

.price>span {
    font-size: 16px;
    font-weight: 500;
    color: #a8741a;
}

.price>span.current_price {
    font-weight: 700;
    font-size: 20.5714px;
    line-height: 31px;
    color: #000000;

}

.price>span.old_price {
    color: #545454;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: line-through;
    font-weight: 400;
}

.price>span.best_offer {
    margin-left: 10px;
    font-weight: 600;
    font-size: 20.5714px;
    line-height: 31px;
    color: #A65E46;
}

.radio-list {
    width: 100%;
}

label {
    height: 23px;
    border: 1.02857px solid #000000;
    box-sizing: border-box;
}

input[type="radio"] {
    display: none;
}

.size {
    font-weight: 400;
    font-size: 13.3714px;
    line-height: 20px;
    display: block;
    align-items: center;
    text-align: center;
    width: 23px;

}

.one {
    font-weight: 400;
    font-size: 13.3714px;
    line-height: 20px;
    display: block;
    align-items: center;
    text-align: center;
    color: #000000;
    width: 26px;
}

.two {
    font-weight: 400;
    font-size: 13.3714px;
    line-height: 20px;
    display: block;
    align-items: center;
    text-align: center;
    color: #000000;
    width: 32px;
}



.rem {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #A65E46;
    margin-top: 10px;
}


#jjbutton {
    background-color: #07203F;
    color: #FFF;
    border-radius: 10px;
    width: 235px;
    height: 44px;
    font-weight: 500;
    font-size: 14.4px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.hr {
    border: 1px solid #F1D2B6;
    margin-top: 20px;
    width: 90%;
}

.heading {
    background: rgba(241, 210, 182, 0.4);
    padding-left: 20px;
    padding-top: 5px;
    width: 490px;
}

.disc_off {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
}

.heading i {
    font-weight: bolder;
    color: black;
    font-size: 16px;
}

.heading1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;

    color: #000000;
}

.heading2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13.3714px;
    line-height: 20px;

    color: #000000;

}

#in_text {
    padding-left: 10px;
    background: #f1f1f1;
    height: 45px;
    width: 320px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    border: 1.02857px solid #07203F;
    box-sizing: border-box;
    border-radius: 10.2857px;
    color: #07203F;
    margin-top: 30px;
}

#jjbutton2 {
    background-color: #07203F;
    color: #FFF;
    border-radius: 10px;
    width: 136px;
    height: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    margin-left: 30px;
}

@media screen and (max-width:1200px) {
    .content {
        width: 100%;
    }

    #jjbutton {
        width: 43%;
        

    }

    .heading {
        width: 100%;
    }

    #in_text {
        width: 55%;
    }

    #jjbutton2 {
        width: 30%;
    }
}

@media screen and (max-width:992px) {
    .content {
        width: 100%;
        
    }

    #jjbutton {
        width: 43%;
    }

    .heading {
        width: 100%;
    }

    #in_text {
        width: 55%;
    }

    #jjbutton2 {
        width: 30%;
    }
}

@media screen and (max-width:769px) {
    .conatiner{
        width: 100%;
    }
    .heading {
        width: 100%;
    }

    .content {
        margin-top: 70px;
        width: 100%;
    }
    #jjbutton{
        margin-top: 0;
        margin-bottom: 15px;
    }
}

@media screen and (max-width:530px) {
    .conatiner{
        width: 100%;
    }
    .heading {
        width: 100%;
    }
    .content{
        width: 100%;
    }
}

/* Product */

#Product_two {
    margin-top: 50px;
    width: 100%;
}

.product {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 20px;
    margin-left: 2px;
}

.star {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 25px;
    margin-left: 20px;
}

.p_text,
.table {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
}

.table-borderless> tbody>tr>td, 
.table-borderless> tbody>tr>th, 
.table-borderless> tfoot>tr>td, 
.table-borderless> tfoot>tr>th, 
.table-borderless> thead>tr>td, 
.table-borderless> thead>tr>th{
    border: none;
}

/* .hr1 {
    transform: rotate(90deg);
    border: 1px solid #000000;
    position: absolute;
    left: 37%;
    top: 38%;
    width: 27%;
} */
/* product rating */

.star>span.rating {
    display: inline-flex;
    width: 40px;
    height: 21px;
    margin-left: -2px;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 9.5px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #A65E46;
    border-radius: 10px;
}

.rating {
    display: inline-flex;
    width: 40px;
    height: 21px;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 9.5px;
    line-height: 15px;
    align-items: center;
    color: #FFFFFF;
    background: #A65E46;
    border-radius: 10px;
    margin-top: 10px;
}

.star>span.review {
    display: inline-flex;
    margin-left: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    color: #A65E46;
}

#jjbutton3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    display: inline-flex;
    margin-left: 10px;
    background: #07203F;
    border-radius: 10.2857px;
    color: #FFFFFF;
    width: 120px;
    height: 34px;
}

.quotes {
    margin-top: 10px;
    margin-left: 20px;
}

.q {
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    margin-left: 10px;
    display: flex;
    position: absolute;
}

.rat {
    display: flex;
    width: 40px;
    height: 21px;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #FFFFFF;
    background: #A65E46;
    border-radius: 10px;
    margin-top: 5px;
}

.rat i {
    padding-left: 5px;
}

.author {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    display: flex;
    margin-left: 50px;
    margin-top: 40px;
}

.date {
    margin-left: 120px;
    font-weight: 300;
    font-family: 'Poppins';
    font-size: 10px;
    font-style: normal;
}

@media screen and (max-width:1156px) {
    .btn {
        margin-left: 0;
    }

    .product1 {
        margin-left: 60px;
    }

    .star {
        margin-left: 0px;
    }

    .star>span.rating,
    .quotes>span.rating {
        width: 46px;
        margin-left: 0px;
    }

    .q {
        width: 100%;
        margin-left: 80px;
    }

    /* .hr {
        width: 40%;
        left: 29%;
        top: 44%;
    } */

}

@media screen and (max-width:997px) {

    .product1 {
        margin-left: 0px;
    }

    .star {
        margin-left: 0px;
    }

    .star>span.rating,
    .quotes>span.rating {
        width: 46px;
        margin-left: 0px;
    }

    .q {
        width: 400px;
    }

    .quotes {
        margin-left: 0;
    }

    .author {
        margin-left: 45px;
        margin-top: 55px;
    }

  

    /* .hr {
        width: 53%;
        left: 24%;
        top: 47%;
    } */

}

@media screen and (max-width:770px) {
    .product1 {
        margin-left: 0px;
    }

    .star {
        margin-left: 0px;
    }

    .star>span.rating,
    .quotes>span.rating {
        width: 46px;
        margin-left: 0px;
    }

    q {
        width: 300px;
    }

    .quotes {
        width: 70%;
        margin-left: 0;
    }

    .author {
        margin-left: 45px;
    }

    /* .hr {
        display: none;
    } */
}

@media screen and (max-width:600px) {
    .product1 {
        margin-left: 50px;
    }

    .quotes {
        width: 50%;
    }

    /* .hr {
        display: none;
    } */
}

/* END product */


/* footer */

a:hover {
    text-decoration: none;
    color: black;
}

.footer {
    margin-top: 40px;
    width: 100%;
    background: #f1d2b6;
    height: 90vh;
}

.hr2 {
    border: 1px solid #000000;
    position: relative;
    border-bottom: #000000;
}


h5 {
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    font-family: "Poppins";
    font-weight: 400;
    position: absolute;
}

h4 {
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
    font-family: "Poppins";
    font-weight: 400;
    position: absolute;
}
.footer_hed{
    margin-top: 70px;
}
.footer-heading3 {
    width: 100%;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    margin-top: -45px;
}

.footer-link a,
p {
    width: 100%;
    margin-bottom: 6px;
    margin-top: 8px;
    padding-left: 0px;
    color: #000000;
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.footer .footer-heading4 {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    margin-top: 30px;
}

input[type="text"] {
    padding: 15px;
    margin: 60px 0 10px 0px;
    border-radius: 10px;
    background: #f1f1f1;
    height: 46px;
    width: 250px;
    border: none;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins";
    font-weight: 400;
}

.btn1 {
    display: flex;
    background: #07203f;
    width: 250px;
    height: 48px;
    padding: 10px 20px;
    margin: 8px 0;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    font-family: "Poppins";
    font-weight: 400;
}

.btn1:hover {
    color: #f1f1f1;
}

.footer .footer-soical {
    margin-top: 110px;
}

.footer .footer-soical h3 {
    font-size: 24px;
    line-height: 36px;
    font-family: "Poppins";
    font-weight: 300;
    font-style: normal;
}

.footer .footer-soical a {
    padding: 10px;
    color: #000000;
}
.hr3 {
    border: 1px solid #000000;
    position: relative;
    border-bottom: #000000;
    margin-top: 70px;
}

.footer .policy {
    width: 100%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    justify-content: center;
    color: #000000;
    margin-top: 10px;
}
@media screen and (max-width:997px){
    .footer{
        height: 100%;
        width: 100%;
    }
}