.margin1{
    margin-top: 7%;
}
.jjbox1{
    border:2px solid black;
    background-color: white;
    position:relative;
    left:2px;
    border-radius:15px;
    bottom:50px;
    height: 366px;
}
.row
{
    flex-wrap: nowrap;
    overflow-x: auto;
}
.card col-4 col-md-12 my-4 m-auto{
     flex-shrink: 0;
     width: 500px;
}
.m-auto {
    margin: auto !important;
}